.popup {
  position: fixed;
  width: 30%;
  height: 70%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: white;
  border-style: groove;
}

.popup\_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  border-radius: 20px;
  background: white;
}

.popup_resize{
  margin-left: 15px;
  margin-right: 15px;
}

.grey_line {
  border-bottom: 3px dashed rgb(214, 212, 212);
}

.popup_title{
  margin-top: 20px;
}

.popup_offer {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.popup_offer span {
  background: #fff;
  padding: 0 10px;
}

.popup_beforeConfirm{
  margin-top: 10px;
}

.popup_estimatedTransactionFee{
  margin-top: 10px;
}

.estimated_H3{
  display: inline-block;
}

.estimated_p{
  float: right;
}

.popup_totalFee{
  margin-top: 10px;
}

.totalFee_H3{
  display: inline-block;  
}

.totalFee_p{
  float: right;
}

.orderInput{
  width: 80%;
  padding: 15px 22px;
  margin: 10px 5px;
  border: none;
  border-bottom: 4px solid #8842d5;  
}

.offerInput{
  text-align: center;
}

.showOffer{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 40px;
}

.closeText{
  margin-top: 50px;
  text-decoration:underline;
  text-align: center;
}

.closeText:hover{
  cursor: pointer;
}

.confirmButton {
  margin-top: 20px;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(228, 158, 67);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.confirmButton:hover {background-color: #c9852c}

.confirmButton:active {
  background-color: #c9852c;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.offerAndNevermindButtons{
  text-align: center;
}